<main
  [ngClass]="{ area: open }"
  *ngIf="currentChat.id !== ''; else nochat"
  class="-right-[100vw] lg:-right-0 fixed lg:relative w-full h-full flex flex-col justify-between transition-all overflow-hidden bg-white"
>
  <img
    alt=""
    src="../../../../assets/bg.jpg"
    class="object-cover top-0 left-0 w-full h-full absolute"
  />
  <nav
    class="h-[3.5rem] z-10 w-full bg-white shadow flex flex-row px-2 justify-between items-center flex-shrink-0"
  >
    <span class="flex flex-row items-center gap-2 text-sm font-medium">
      <button (click)="onClose()" class="lg:hidden">
        <span
          class="iconify text-2xl text-[#9C9C9C]"
          data-icon="ep:back"
        ></span>
      </button>
      <span
        class="h-[2.5rem] w-[2.5rem] lg:hidden rounded-full bg-sky-400 grid"
      >
        <img
          alt=""
          src="../../../../assets/joyboy.jpg"
          class="w-full h-full object-cover"
        />
      </span>
      <p>{{ currentUser.fullname }}</p>
    </span>
    <span class="flex flex-row items-center gap-3 text-[#9C9C9C]">
      <span class="iconify text-lg" data-icon="fe:search"></span>
      <span class="iconify text-lg" data-icon="akar-icons:more-vertical"></span>
    </span>
  </nav>
  <section
    class="flex flex-grow flex-col overflow-y-auto scrollbar-none relative px-2"
  >
    <span class="w-full h-full overflow-y-auto scrollbar-none">
      <div
        *ngFor="let chat of currentChat.data"
        class="w-full flex flex-col gap-2 mb-2"
      >
        <div
          class="w-fit bg-[#00000036] text-white py-1 px-4 rounded-full mx-auto lg:mx-0 lg:ml-[25%] z-10"
        >
          {{ chat.date | date }}
        </div>
        <app-chat-bubble
          *ngFor="let message of chat.messages"
          [data]="message"
          class="h-fit"
        ></app-chat-bubble>
      </div>
    </span>
  </section>

  <form
    class="bg-white z-10 w-full flex flex-row items-end p-2 gap-3 flex-shrink-0"
  >
    <span
      class="iconify text-2xl text-[#9C9C9C]"
      data-icon="iconoir:attachment"
      data-flip="horizontal,vertical"
    ></span>
    <textarea
      type="text"
      name="message"
      [(ngModel)]="message"
      minlength="1"
      #textAreaRef="ngModel"
      placeholder="Write a message..."
      class="flex-grow text-sm focus:outline-none resize-none h-[1.5rem]"
      oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
    ></textarea>
    <span class="flex flex-row items-center gap-2">
      <span
        class="iconify text-3xl text-[#9C9C9C]"
        data-icon="fluent:emoji-16-regular"
      ></span>
      <div *ngIf="message === ''; else send">
        <span
          class="iconify text-2xl text-[#9C9C9C]"
          data-icon="fluent:mic-32-regular"
        ></span>
      </div>
      <ng-template #send>
        <button (click)="onSubmit()">
          <span
            class="iconify text-2xl text-[#9C9C9C]"
            data-icon="fluent:send-24-filled"
          ></span>
        </button>
      </ng-template>
    </span>
  </form>
</main>
<ng-template #nochat>
  <main
    class="-right-[100vw] lg:-right-0 fixed lg:relative w-full h-full grid transition-all overflow-hidden bg-red-200"
  >
    <img
      alt=""
      src="../../../../assets/bg.jpg"
      class="object-cover top-0 left-0 w-full h-full absolute"
    />
    <p class="text-white py-1 px-4 rounded-full m-auto bg-[#00000046] z-10">
      Select a chat to start messaging
    </p>
  </main>
</ng-template>
