<button
  class="w-full flex flex-row p-2 hover:bg-[#F1F1F1]"
  [appHighlight]="'#419FD9'"
  [user]="user"
  (openChat)="onOpenChat()"
>
  <span
    class="w-[3rem] h-[3rem] bg-gray-300 flex-shrink-0 rounded-full overflow-hidden"
  >
    <img
      src="../../../../assets/joyboy.jpg"
      class="w-full h-full object-cover"
    />
  </span>
  <div class="flex flex-col justify-between w-full h-[3rem] ml-3">
    <div class="w-full flex flex-row justify-between text-sm">
      <p
        [appHighlight]="''"
        [text-color]="'white'"
        [user]="user"
        class="font-medium"
      >
        {{ user.fullname }}
      </p>
      <p
        [appHighlight]="''"
        [text-color]="'white'"
        [user]="user"
        class="text-gray-400"
      >
        10:00AM
      </p>
    </div>

    <div class="w-full flex flex-row justify-between items-center text-sm">
      <p
        class="whitespace-nowrap text-ellipsis overflow-hidden max-w-[30ch] text-gray-400"
        [appHighlight]="''"
        [text-color]="'white'"
        [user]="user"
      >
        some random ass text
      </p>
      <p
        class="bg-gray-400 w-5 h-5 rounded-full text-center leading-5 text-white font-medium text-xs"
        [appHighlight]="'white'"
        [text-color]="'#419FD9'"
        [user]="user"
      >
        2
      </p>
    </div>
  </div>
</button>
