<button class="w-full flex flex-row p-2 hover:bg-[#F1F1F1]">
  <span class="w-[3rem] h-[3rem] bg-gray-300 flex-shrink-0 rounded-full"></span>
  <div class="flex flex-col justify-between w-full h-[3rem] ml-3">
    <div class="w-full flex flex-row justify-between text-sm">
      <p class="font-medium">Saved Messages</p>
      <p>7/21/2022</p>
    </div>

    <div class="w-full flex flex-row justify-between items-center text-sm">
      <p class="text-gray-400">Saved Messages</p>
      <p
        class="bg-gray-400 w-5 h-5 rounded-full text-center leading-5 text-white font-medium text-xs"
      >
        2
      </p>
    </div>
  </div>
</button>
