<div
  [ngClass]="{ 'push-to-right': thisUser === data.from }"
  class="w-fit min-w-[10rem] max-w-[20rem] min-h-[2rem] flex flex-col text-black bg-white relative rounded-md px-2 py-1 gap-2 flex-shrink-0 lg:ml-10"
>
  <span class="flex-grow font-medium text-sm my-auto">{{ data.message }}</span>
  <span class="flex flex-row h-full flex-shrink-0 items-end ml-auto">
    <p
      [ngClass]="{ 'color-right': thisUser !== data.from }"
      class="mb-[0.1rem] text-[#9BCD7C] text-xs"
    >
      {{ data.time | date: "shortTime" }}
    </p>
    <span
      *ngIf="thisUser === data.from"
      class="iconify text-lg mt-auto text-[#9BCD7C]"
      data-icon="bi:check-all"
    ></span>
  </span>
  <span
    class="hidden lg:flex absolute w-[2rem] h-[2rem] overflow-hidden rounded-full z-10 mt-auto mr-1 -left-10 bottom-0"
  >
    <img alt="" [src]="url + refereePfp" class="w-full h-full object-cover"
  /></span>
</div>
