.aside {
  width: 100%;
  position: fixed;
  animation: fadeIn 150ms;
}

.sidebar {
  width: 240px;
  animation: slideIn 150ms;
}

.hide {
  height: 9rem;
  padding: 2px 0;
  border-bottom: 1px solid #aaaaaa;
  transition: linear 150ms;
}

.spin {
  transform: rotate(360deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    overflow: hidden;
  }

  to {
    width: 100%;
  }
}
@keyframes slideIn {
  from {
    width: 0;
    overflow: hidden;
  }

  to {
    width: 250px;
  }
}
