<button
  class="w-full flex flex-row p-2 hover:bg-[#F1F1F1]"
  [appHighlight]="'#419FD9'"
  [user]="user"
  (openChat)="onOpenChat()"
>
  <span
    class="w-[3rem] h-[3rem] bg-gray-300 flex-shrink-0 rounded-full overflow-hidden"
  >
    <img alt="" [src]="url + user.profile" class="w-full h-full object-cover" />
  </span>
  <div class="flex flex-col justify-between w-full h-[3rem] ml-3">
    <div class="w-full flex flex-row justify-between text-sm">
      <p
        [appHighlight]="''"
        [text-color]="'white'"
        [user]="user"
        class="font-medium"
      >
        {{ user.fullname }}
      </p>
      <p
        [appHighlight]="''"
        [text-color]="'white'"
        [user]="user"
        class="text-gray-400"
      >
        {{ lastMessage.time | date: "shortTime" }}
      </p>
    </div>

    <div class="w-full flex flex-row justify-between items-center text-sm">
      <span class="flex flex-row gap-1 justify-center items-center">
        <img
          alt=""
          class="h-4 w-4 rounded-sm object-cover"
          *ngIf="lastMessage.file !== ''"
          [src]="postUrl + lastMessage.file"
        />
        <p
          class="whitespace-nowrap text-ellipsis overflow-hidden max-w-[30ch] text-gray-400"
          [appHighlight]="''"
          [text-color]="'white'"
          [user]="user"
          [ngClass]="{ highlight: lastMessage.from !== currentUser }"
        >
          {{ lastMessage.message }}
        </p>
      </span>
      <div *ngIf="lastMessage.from === currentUser; else noti">
        <span
          class="iconify text-xl mt-auto text-[#9BCD7C]"
          data-icon="bi:check-all"
        ></span>
      </div>
      <ng-template #noti>
        <p
          *ngIf="lastMessage.from !== ''"
          class="bg-gray-400 w-5 h-5 rounded-full text-center leading-5 text-white font-medium text-xs"
          [appHighlight]="'white'"
          [text-color]="'#419FD9'"
          [user]="user"
        >
          1
        </p>
      </ng-template>
    </div>
  </div>
</button>
